.main{
    position: relative;
    overflow: hidden;
    min-height: 840px;
    padding-top: 40px;
    background-image: url('/src/assets/images/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    &__subtitle{
        font-size: 36px;
        color: $main-color;
        margin-top: 180px;
        line-height: 40px;
    }
    
    &__title{
        font-size: 47px;
        line-height: 50px;
    }

    &__descr{
        margin-top: 30px;
        line-height: 20px;
        max-width: 425px;
    }

    &__circle{
        position: absolute;
        left: 52%;
        top: -30%;
        width: 1450px;
        height: 1450px;
        border-radius: 50%;
        background-color: $main-color;
    }

    &__wheel{
        position: absolute;
        left: 56%;
        top: -35%;
        width: 1400px;
        height: 1400px;
    }
}