.services{
    padding-bottom: 50px;

    &__header{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 300px;
        background-color: #f2f2f2;
        border-radius: 0px 0px 50px 50px;
    }

    &__title{
        color: #000;
        line-height: 77px;
    }

    &__subtitle{
        font-size: 18px;
        line-height: 100%;
        color: $main-color;
        margin-top: 10px;
    }

    &__list{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 65px;
        justify-content: center;
        align-items: stretch; 
    }

    &__wrapper{
        display: flex;
        justify-content: center;
    }

    &__btn{
        margin-top: 50px;
    }
}