.services-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    text-align: center;
    justify-content: space-between;

    &__image{
        
        width: 224px;
        height: 224px;
        border-radius: 50%;
        border: $main-color 12px solid;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__title{
        margin-top: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
    }

    &__text{
        margin-top: 10px;
        line-height: 17px;
    }
}