.header{
    display: flex;

    &__wrapper{
        display: flex;
        flex-direction: column;
        margin: 14px 0 0 20px;
    }

    &__title{
        width: 310px;
        height: 40px;
    }

    &__subtitle{
        width: 315px;
        height: 32px;
    }
}