.about{
    padding-top: 50px;
    background-color: $main-color;
    background-image: url('/src/assets/images/about_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
    &__title{
        text-align: center;
        color: #fff;
        line-height: 77px;
    }

    &__subtitle{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
        line-height: 100%;
    }

    &__wrapper{
        display: flex;
        margin-top: 50px;
        border-radius: 50px 50px 0px 0px;
        overflow: hidden;
    }

    &__info{
        background-color:#fff;
        padding: 140px 0 0 30px;
        width: 100%;
    }

    &__name{
        font-family: Vampiro One;
        font-size: 46px;
        font-weight: 400;
        line-height: 100%;
    }

    &__divider{
        width: 90px;
        height: 2px;
        background-color: $main-color;
        border-radius: 1px;
        margin: 20px 0;
    }

    &__text{
        max-width: 352px;
        line-height: 17px;
        color: gray;
    }
}