.header{
    display: flex;
    align-items: center;

    &__logo{
        width: 90px;
        height: 61px;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        margin: 12px 0 0 25px;
    }

    &__title{
        width: 310px;
        height: 38px;
    }

    &__subtitle{
        width: 310px;
        height: 30px;
    }
}