@import 'fonts';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none; 
    margin-top: 30px;
    padding: 0 30px;
    min-width: 160px;
    height: 46px;
    border: 0;
    border-radius: 42px;
    background-color: $main-color;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;

    &:hover{
        box-shadow: 0px 4px 20px 0px rgba(225, 82, 82, 0.5);
        transition: box-shadow 0.3s ease-in-out;
    }
}

h2{
    font-size: $font-size-large;
    font-weight: 700;
    color: #000;
}